@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(236 253 245 / var(--tw-bg-opacity));        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(226, 226, 226);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(236 253 245 / var(--tw-bg-opacity));  /* creates padding around scroll thumb */
}